



p {
    color: rgb(240, 246, 247);
    text-align: center;
    font-weight: bold;
}

img {
    width:  100px;
    height: 100px;
}

body {background-color: rgb(31, 31, 37);}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:  100px;
    height: 100px;
  }
